body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #eef2f3;
  color: #333;
}

header {
  background-color: #00796b;
  color: white;
  text-align: center;
  padding: 1.5rem 1rem;
}

.container {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.topo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 1.5rem;
  width: 48%;
  min-width: 280px;
  box-sizing: border-box;
}

.batimentos {
  text-align: right;
}

.valor {
  font-size: 2rem;
  font-weight: bold;
}

.status {
  font-weight: bold;
  color: green;
}

.status-geral {
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  box-sizing: border-box;
}


.grafico-simulado {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
  margin-top: 1rem;
  gap: 2rem;
}

.barra {
  width: 60px;
  background-color: #4caf50;
  border-radius: 5px 5px 0 0;
  transition: height 0.5s ease-in-out;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #004d40;
  color: white;
}

.grupo-barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legenda {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #555;
  text-align: center;
  max-width: 100px;
}

